In [1]:
import pandas as pd

In [14]:
df=pd.read_csv("training.1600000.processed.noemoticon.csv",encoding = "ISO-8859-1")
df.columns=['target','id','date','Query','user','tweet']

In [15]:
df.head()

,target,id,date,Query,user,tweet
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [17]:
df=df[['target','tweet']]
df

         target                                              tweet
0             0  is upset that he can't update his Facebook by ...
1             0  @Kenichan I dived many times for the ball. Man...
2             0    my whole body feels itchy and like its on fire
3             0  @nationwideclass no, it's not behaving at all....
4             0                      @Kwesidei not the whole crew
...         ...                                                ...
1599994       4  Just woke up. Having no school is the best fee...
1599995       4  TheWDB.com - Very cool to hear old Walt interv...
1599996       4  Are you ready for your MoJo Makeover? Ask me f...
1599997       4  Happy 38th Birthday to my boo of alll time!!! ...
1599998       4  happy #charitytuesday @theNSPCC @SparksCharity...

[1599999 rows x 2 columns]

In [86]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\hp\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [93]:
import re
import nltk
from nltk.corpus import stopwords
stop_words = stopwords.words("english")
url = r'((http|https)\:\/\/)?[a-zA-Z0-9\.\/\?\:@\-_=#]+\.([a-zA-Z]){2,6}([a-zA-Z0-9\.\&\/\?\:@\-_=#])*'
def clean_data(text):
   # text=re.sub(r'@[A-Za-z0-9]+','',text)  #remouve mentions
   # text=re.sub(r'#[A-Za-z0-9]+','',text) 
    ############text=re.sub('@\S+|https?:\S+|http?:\S|[^A-Za-z0-9]+',' ',text)# remouve hashtags
    text=text.lower() 
    ############  stop words
    stop_words = set(stopwords.words('english'))
    punctuation = list(string.punctuation)
    stop_words.update(punctuation)
    text = [' '.join(word for word in word_tokenize(text) if word not in stop_words) #for tweet in tweets]
            #########  Drop Qoute
    text = [' '.join([re.sub('^&(\w)+;',' && ',tw) for tw in text.split()])] #for tweet in tweets] 
    text = [' '.join([re.sub('^@(\w)+',' ',tw) for tw in text.split()])] #for tweet in tweets]       
    text = [' '.join([re.sub(url,' ',tw) for tw in tweet.split()])] #for tweet in tweets]         
    
    
    # convert to lower
   # text=re.sub(url,'',text)                #drop links
   # text=re.sub(r'^@(\w)+','',text)         #drop reteweet
   # text=re.sub('\w*\d\w*','',text)          #remouve numbers

    
    return text
df.tweet=df.tweet.apply(lambda x: clean_data(x))

SyntaxError: invalid syntax (<ipython-input-93-c26e0a2e2ec7>, line 17)

In [91]:
df.tweet[0]

'isupsetthathecantupdatehisfacebookbytextingitandmightcryasaresultschooltodayalsoblah'